cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.1
EbookLib==0.17.1
lxml==4.9.1
numpy==1.23.3
pandas==1.5.0
pdfminer.six==20220524
pycparser==2.21
pyPdf==1.13
python-dateutil==2.8.2
pytz==2022.2.1
six==1.16.0
